@import "../../../../../../node_modules/bootstrap/scss/bootstrap";

.animated-background {
  background-image: url("/assets/img/background/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-size: 1.05em;
}