<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{landing.pageTitle}">Compound Interest Simulator</title>
    <link rel="icon" href="/assets/img/icon.png">
    <link rel="stylesheet" href="/assets/css/landing.css" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Js files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/cookie.js"></script>
</head>
<body>

<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <select id="languageSelect" class="btn btn-outline-secondary" name="language" onchange="" required>
            <option value="en" th:text="#{lang.en}"/>
            <option value="fr" th:text="#{lang.fr}"/>
            <option value="de" th:text="#{lang.de}"/>
            <option value="es" th:text="#{lang.es}"/>
            <option value="it" th:text="#{lang.it}"/>
            <option value="pl" th:text="#{lang.pl}"/>
            <option value="pt" th:text="#{lang.pt}"/>
            <option value="sv" th:text="#{lang.sv}"/>
            <option value="cs" th:text="#{lang.cs}"/>
        </select>
        <!-- Sign Up Button -->
        <a class="btn btn-primary align-self-lg-end" style="margin-left: auto" href="/register" th:text="#{register.register}">Sign Up</a>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading -->
                    <h1 class="mb-5" th:text="#{landing.pageHeading}">Simulate compound interest with our incredible tool - Prospero!</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <!-- Feature 1 -->
                    <h3 th:text="#{feature1.heading}">Fully Responsive</h3>
                    <p class="lead mb-0" th:text="#{feature1.description}">This web application will look great on any device, no matter the size!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <!-- Feature 2 -->
                    <h3 th:text="#{feature2.heading}">Realistic</h3>
                    <p class="lead mb-0" th:text="#{feature2.description}">Considers real-life factors like inflation and capital gain tax!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <!-- Feature 3 -->
                    <h3 th:text="#{feature3.heading}">Easy to Use</h3>
                    <p class="lead mb-0" th:text="#{feature3.description}">Very intuitive design and essential features!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/img/landing/bg-showcase-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <!-- Showcase 1 -->
                <h2 th:text="#{showcase1.heading}">Fully Responsive Design</h2>
                <p class="lead mb-0" th:text="#{showcase1.description}">When you use our compound interest simulator, you know that it will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/assets/img/landing/money-up.png')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <!-- Showcase 2 -->
                <h2 th:text="#{showcase2.heading}">Realistic</h2>
                <p class="lead mb-0" th:text="#{showcase2.description}">Considers real-life factors like inflation and capital gain tax to give more realistic results on the user simulation. It allows to avoid errors in financial planning!</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/img/landing/bg-showcase-3.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <!-- Showcase 3 -->
                <h2 th:text="#{showcase3.heading}">Easy to Use</h2>
                <p class="lead mb-0" th:text="#{showcase3.description}">Our compound interest simulator has necessary features and intuitive design, so you will be able to use it with all potential that it contains.</p>
            </div>
        </div>
    </div>
</section>

<script>
    languageChange("/");
</script>

</body>
</html>
